h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.message {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  margin-bottom: 3px;
}

.viewButton {
  margin-left: 5px;
}

.likes-container {
  display: flex;
  align-items: center; 
}

.blog p {
  margin-top: 0;
  margin-bottom: 0;
}

.blogTitle-container {
  display: flex;
  align-items: center; 
}

.removeButton {
  background-color: aqua;
}